@charset 'utf-8';
@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}


/* 전체설정 */
* {margin: 0;
    padding: 0;}
ul,ol {list-style: none;}
a {text-decoration: none;
    color: #000;}
img {border: 0;
    vertical-align: bottom;}
body {font-family: 'Pretendard-Regular', sans-serif;
        font-size: 14px;}


/* logo 설정 */
.boxA {width: 305px;
    height: 83px;
    background-size: contain;
    background-repeat: no-repeat;}
.boxA h1 {text-align: center;}

































/* 미디어쿼리구간설정/////////////////////////////////////////////// */


/* 588 이하 구간 */
@media(max-width:587px) {

    
}


/* 768 이상 구간 */
@media(min-width:768px) {


    /* 레이아웃설정 */


}